*.pkl
*.jpg
*.mp4
*.pyc
__pycache__
*.h5
*.avi
*.wav
*.sh
filelists/*.txt
evaluation/test_filelists/lr*.txt
*.pyc
*.mkv
*.gif
*.webm
*.mp3
*.sh
# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
vapi/

